body {
    margin: 0;
    min-width: 250px;
    font-family: "Josefin Sans", sans-serif;
    background-color: whitesmoke;
    font-size: 14px;
}


#todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: black;
}
#todo-list {
    margin:20px;
    padding: 50px;
    width: 500px;
    position: relative;
    list-style: none;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

/*******************************************************************************/
/*margins and padding for the list */
ul {
    margin:20px;
    padding: 50px;
    width: 500px;
    position: relative;
}
/* Style the list items */
ul li {
    cursor: pointer;
    position:relative;
    padding: 12px 8px 12px 40px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    background: #fff;
    font-size: 18px;
    transition: 0.2s;
    font-family: "Josefin Sans", sans-serif;
}
/* Adding circles for checks*/
li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    background-image: none;
}
/* Darker background-color on hover */
ul li:hover {
    background: hsl(236, 33%, 92%)
}
  
/* When clicked on, add a background color and strike out text */
ul li.checked {
    color: hsl(236, 9%, 61%);
    text-decoration: line-through;
}
  
/* "checked" mark when clicked*/
li.checked::before {
    background-color: transparent;
    background-image: url("./images/check_icon.png");
    background-size: cover;
}
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
} 
.close:hover {
    background-color: #f44336;
    color: white;
}
/***************************************************************************************************/
/* header style*/
.header {
    background-image: url(images/bg-desktop-light.jpg);
    padding: 60px;
    color: white;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;   
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
  
.header-bottom {
    margin-top: 40px; 
    display: flex;
    padding-left: 25%;
    justify-content: center;
    align-items: center;
    width: 650px;
    text-align: center;
}

.header h1 {
    padding-left: 400px;
    font-family: "Josefin Sans", sans-serif;
}

#newInput {
    display: block;
    margin: 0 auto;
    text-align: left;
}
  
   
/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}
  
/*Add button */
.addBtn {
    padding: 10px;
    width: 10%;
    background: #242bff;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addBtn:hover {
    background-color: #4f71da;
}
#clear-completed-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px; 
}
#clear-completed-button:active {
    color: blue; /* Set color to blue when button is clicked */
}
#completed-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
#completed-button:active {
    color: blue; 
}

#active-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
#active-button:active {
    color: blue; 
}

#all-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
#all-button:active {
    color: blue; 
}

/*Button container styles*/
#button-container {
    display: flex;
    gap: 10px;
}

  
/***************************************************************************************************/
/* Light theme styles */
.light-mode {
    background-color: hsl(0, 0%, 98%);
    color: #000;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

  
/* Dark theme styles */

.dark-mode {
    background-color:hsl(235, 21%, 11%);
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}
.dark-mode .todo-list-container {
   
    color: hsl(234, 39%, 85%);
}

/* Button container styles when toggle button is clicked */
.dark-mode ul li {
    color: hsl(234, 39%, 85%); 
    background-color: hsl(235, 24%, 19%);
}

.dark-mode #button-container button {
    background-color: none;
    color: white;
}
.dark-mode #task-count {
    color: white;
}
  
/************************************************************************************************/
  
/*Styling toggle-button*/
.toggle-button
{
    border: none;
    background-color:none;
    background: none;
    src: url(/images/moon_icon.png);
    cursor: pointer;
    margin-left: 5px;
}

.toggle-button-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
  
.toggle-button img
{
    width: 50px;
    height: 50px;
}
/*******************************************************************************************/
/*Dragging styles*/
.dragging {
  opacity: 0.5;
}

.over {
  background-color: lightgray;
}
/*****************************************************************************************/
/* Default styles for all devices */
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
}

/* Styles for devices with a maximum width of 768px (such as tablets) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}

/* Styles for devices with a maximum width of 480px (such as smartphones) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 5px;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
}
