body {
    margin: 0;
    min-width: 250px;
}
  
#todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
 #todo-list {
    margin:20px;
    padding: 50px;
    width: 500px;
    position: relative;
    list-style: none;
    text-align: center;
}
    
/*margins and padding for the list */
ul {
    margin:20px;
    padding: 50px;
    width: 500px;
    position: relative;
}


/*******************************************************************************/
/* Style the list items */
ul li {
    cursor: pointer;
    position:relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
  
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
  
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #b3b2b2;
    color: #fff;
    text-decoration: line-through;
}
  
/* "checked" mark when clicked*/
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
  
/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
} 
.close:hover {
    background-color: #f44336;
    color: white;
}
/***************************************************************************************************/
/* header style*/
.header {
    background-image: url(images/bg-desktop-light.jpg);
    background-size: cover;
    padding: 40px 40px;
    color: white;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    height:40%;
    width: 100%;
    
}

.header h1 {
    padding-left: 500px;
}
#input-container {
    display: flex;
    justify-content: center;
    width: 1200px;
}
  
  

  
/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
/*Add button */
.addBtn {
    padding: 11px;
    width: 10%;
    background: #242bff;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addBtn:hover {
    background-color: #4f71da;
}
#clear-completed-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px; 
}
#clear-completed-button:active {
    color: blue; /* Set color to blue when button is clicked */
}
#completed-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
#completed-button:active {
    color: blue; /*Sets color to blue when button is clicked*/
}

#active-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
#active-button:active {
    color: blue; /*Sets color to blue when button is clicked*/
}

#button-container {
    display: flex;
    gap: 10px;
}

/***************************************************************************************************/
/* Light theme styles */
body {
    background-color: #f1f1f1;
    color: #333;
}
#container {
    width: 80%;
    margin: 0 auto;
}

/* Dark theme styles */

.dark-mode {
    background-color: rgb(41, 50, 62);
    color: white;
}

#container.dark {
    border: 1px solid #282829;
}
.dark h1 {
    color: #f1f1f1;
}
.dark p {
    color: #ccc;
}

/*Styling toggle-button*/
.toggle-button
{
    border: none;
    background-color:none;
    background: none;
    src: url(/images/moon_icon.png);
    cursor: pointer;
    position: relative;
}

.toggle-button img
{
    width: 50px;
    height: 50px;
}
/*******************************************************************************************/




